*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(blue,#fff);
    height:100vh;
}
#myImg{
    cursor:pointer;
    height:100px;
    margin:30px;
    transition: 0.5s;
}
#myImg:hover{
    opacity:.5;
}
.container{
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-image: linear-gradient(#fff,blue);
    padding-top:50px;
    display:none;
}
#img{
    margin:auto;
    width:70%;
    display:block;
    max-width:650px;
    animation: display 1s;
}
#descripition{
    font-size:35px;
    color:#000;
    position: absolute;
    top:5%;
    left:5%;
    animation: display 1s;
}
@keyframes display{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
#close{
    position: absolute;
    top:25px;
    right:40px;
    color:#000;
    font-size:50px;
    cursor:pointer;
}
